/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 0;
  }
}

@import './sections/_hero.scss';
@import './sections/_about.scss';
@import './sections/_study-abroad.scss';
@import './sections/_about-3.scss';
@import './sections/_scholarship.scss';
@import './sections/_student-life.scss';
@import './sections/_partner.scss';
@import './sections/_testimonials.scss';
@import './sections/_contact.scss';
@import './sections/_fac.scss';
@import './sections/_portfolio-details.scss';
@import './sections/_faq.scss';
@import './sections/_services.scss';
@import './sections/_about-2.scss';
@import './sections/_portfolio-details-2.scss';
@import './sections/_faq-2.scss';
@import './sections/_services-2.scss';
@import './sections/_aboutundefined.scss';
@import './sections/_portfolio-details-3.scss';
@import './sections/_faq-3.scss';
@import './sections/_aboutundefined-2.scss';
@import './sections/_services-3.scss';
@import './sections/_portfolio-details-4.scss';
@import './sections/_faq-4.scss';
@import './sections/_aboutundefined-3.scss';
@import './sections/_services-4.scss';
@import './sections/_blog-posts.scss';
@import './sections/_blog-pagination.scss';